@layer base {
    :root {
      --bg: 247 246 252;            
      --solid: 255 255 255;   
      --default: 255 255 255 / 0.8;   
      
      --text-primary: 33 31 38;
      --text-secondary: 4 0 17 / 0.61;

      --border-muted: 242 239 243;

    }
  
    .dark {
      --bg: 3 3 3;                 
      --solid: 26 25 27;  
      --default: 26 25 27 / 0.8;  

      --text-primary: 255 255 255;
      --text-secondary:  245 241 255 / 0.72;

      --border-muted: 35 34 37;

    }
  }
  